.contacts {
  width: 400px;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  list-style: circle;
}
